name: build

on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - '**.md'

env:
  NODE_VERSION: 12

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.action != 'closed'
    steps:
      - name: Install Node.js
        uses: actions/setup-node@v3.3.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: actions/checkout@v2.4.0

      - name: YARN install
        run: yarn install

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build
